{% extends "base.html" %}
{% block content %}
  <h2>Products</h2>

  <form method="get" class="search-form">
    <input name="q" placeholder="Search..." value="{{ q }}">

    <select name="category">
      <option value="">All Categories</option>

      {% for c in categories %}
        <option value="{{ c._id|string }}" 
          {% if selected_cat and selected_cat == c._id|string %}selected{% endif %}>
          {{ c.name }}
        </option>
      {% endfor %}
    </select>

    <button type="submit">Search</button>
  </form>

  <div class="product-list">
    {% for p in products %}
      <div class="product-item">
        <a href="{{ url_for('product_detail', product_id=p._id|string) }}">
          <img src="{{ p.images[0] }}" alt="">
        </a>

        <div class="info">
          <h3><a href="{{ url_for('product_detail', product_id=p._id|string) }}">{{ p.name }}</a></h3>
          <p>{{ p.description }}</p>
          <p class="price">₹{{ "%.2f"|format(p.price) }}</p>

          <form action="{{ url_for('add_to_cart', product_id=p._id|string) }}" method="post">
            <input type="number" name="quantity" value="1" min="1" max="{{ p.stock }}">
            <button type="submit" class="btn">Add to cart</button>
          </form>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
